<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>标点后几位</title>
</head>
<body ng-controller="ctrl">
<input type="text" ng-model="myText" name="inputName" decimal-count="3">
<input type="text" value="{{test()}}">
<input ng-only-number ng-model="n">
<input type="text" ng-number ng-model="n">
<button ng-click="click()"></button>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/angular/angular.js"></script>
<script>
    (function (ng) {
        'use strict'
        ng.module('ngOnlyNumberApp', [])
                .directive('ngOnlyNumber', function () {
                    // this directive allowes only numbers with decimal point.
                    // You can specify the max decimal points using data-max-decimal-points in the dom element.
                    // if data-max-decimal-points is not specified, it will allow upto any dicimal point.
                    return {
                        restrict: "AE",
                        link: function (scope, elem, attr) {
                            if (!$(elem).attr("min")) {
                                $(elem).attr("min", 0);
                            }
                            function toIncreaseMaxLengthBy (elem) {
                                var maxDecimalPoints = elem.data('maxDecimalPoints');
                                return (1 + maxDecimalPoints);
                            }
                            var el = $(elem)[0];
                            el.initMaxLength = elem.data('maxLength');
                            el.maxDecimalPoints = elem.data('maxDecimalPoints');
                            var checkPositive = function (elem, ev) {
                                try {
                                    var el = $(elem)[0];
                                    if (el.value.indexOf('.') > -1) {
                                        if (ev.charCode >= 48 && ev.charCode <= 57) {
                                            if (el.value.indexOf('.') == el.value.length - toIncreaseMaxLengthBy(elem)) {
                                                if (el.selectionStart > el.value.indexOf('.')) {
                                                    return false;
                                                } else {
                                                    if (el.value.length == elem.data('maxLength')) {
                                                        return false;
                                                    } else {
                                                        return true;
                                                    }
                                                }
                                            } else {
                                                if (el.selectionStart <= el.value.indexOf('.')) {
                                                    if (el.value.indexOf('.') == toIncreaseMaxLengthBy(elem)) {
                                                        return false;
                                                    }
                                                }
                                            }
                                        }
                                    } else {
                                        if (el.value.length == elem.data('maxLength')) {
                                            if (ev.charCode == 46) {
                                                if (typeof el.maxDecimalPoints === 'undefined') {
                                                    return true;
                                                } else {
                                                    if (el.selectionStart < el.value.length - el.maxDecimalPoints) {
                                                        return false;
                                                    };
                                                }
                                                elem.data('maxLength', el.initMaxLength + toIncreaseMaxLengthBy(elem));
                                                return true;
                                            } else if (ev.charCode >= 48 && ev.charCode <= 57) {
                                                return false;
                                            }
                                        }
                                        if (ev.charCode == 46) {
                                            if (el.selectionStart < el.value.length - elem.data('maxDecimalPoints')) {
                                                return false;
                                            } else {
                                                return true;
                                            }
                                        }
                                    }
                                    if (ev.charCode == 46) {
                                        if (el.value.indexOf('.') > -1) {
                                            return false;
                                        } else {
                                            return true;
                                        }
                                    }
                                    if ((ev.charCode < 48 || ev.charCode > 57) && ev.charCode != 0) {
                                        return false;
                                    }
                                } catch (err) {}
                            }
                            var change_maxlength = function(elem, ev){
                                try {
                                    var el = $(elem)[0];
                                    if(el.value.indexOf('.')>-1){
                                        elem.data('maxLength', el.initMaxLength + toIncreaseMaxLengthBy(elem));
                                    }
                                    else{
                                        if(elem.data('maxLength') == el.initMaxLength + toIncreaseMaxLengthBy(elem)){
                                            var dot_pos_past = el.selectionStart;
                                            el.value = el.value.substring(0, dot_pos_past);
                                        }
                                        elem.data('maxLength', el.initMaxLength);
                                    }
                                } catch (err) {}
                            }
                            $(elem).on("keypress", function () {
                                return checkPositive(elem, event);
                            })
                            $(elem).on("input", function () {
                                return change_maxlength(elem, event);
                            })
                        }
                    }
                });
    }(angular))

</script>
<script>
    angular.module('app', ['ngOnlyNumberApp'])
            .controller('ctrl', function ($scope) {
                $scope.myText = '123.454'
                var p = '1'
                $scope.test = function () {
                    return p
                }
                $scope.click = function(){
                    p = p+'1'
                }
                $scope.n = '';
            }).directive('decimalCount', function () {
        return {
            require: 'ngModel',
            link: function (scope, element, attrs, ngModel) {
                var count = attrs.decimalCount;
                scope.$watch(attrs.ngModel, function (newVal, oldVal) {
                   // console.log(newVal, oldVal)
                    //console.log(element[0].selectionStart);

                    var startIndex,endIndex;
                    for(var i =0;i<oldVal.length;i++){
                        var flag =   oldVal.charAt(i)==newVal.charAt(i)
                        if(!flag){
                            startIndex = i;
                            break;
                        }
                    }

                    for(var i = oldVal.length-1,z=newVal.length-1;i>=0;i--,z--){
                        var flag = oldVal.charAt(i)==newVal.charAt(z)
                        if(!flag){
                            endIndex=i;
                            break
                        }
                    }

                    var diff = oldVal.substring(startIndex,endIndex+1)
                    console.log(diff)



                    var selectionStart = element[0].selectionStart
                    newVal = newVal+'';
                    var lastStr = '';
                    var lastPoint = newVal.lastIndexOf('.')
                    if (lastPoint > -1) {
                        lastStr = newVal.substring(lastPoint + 1);
                        if (lastStr.length > count) {
                            lastStr = lastStr.substring(0,count);
                        } else {
                            lastStr += '0'.repeat(count - lastStr.length);
                        }
                        newVal = newVal.substring(0, lastPoint)+'.'+lastStr;
                    } else {
                        newVal = newVal + '.'+('0'.repeat(count));
                    }

                    ngModel.$setViewValue(newVal)
                    ngModel.$render();
                    element[0].setSelectionRange(selectionStart, selectionStart)
                })
            }
        };
    });


</script>
</body>
</html>